
<%# @team.name %>

<%# if @team.logo.attached? %>
<%#= image_tag @team.logo %>
<%# end %>



<!--<div class="container">-->
<!--  <div class="row">-->
<!--    <div class="col-lg-12">-->
<!--      <br>-->
<!--      <hr>-->
<!--      <h1><%#= @team.name %></h1>-->
<!--      <br>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="row">-->
<!--    <div class="col-lg-6">-->
<%# if @team.logo.attached? %>
<%#= image_tag @team.logo %>
<%# end %>
<!--    </div>-->
<!--    <div class="col-lg-6">-->
<!--      <h2><%#= @team.fund %></h2>-->
<!--      <h2><%#= @team.website %></h2>-->
<!--      <h2><%#= @team.partner %></h2>-->
<!--      <h2><%#= @team.linkedin %></h2>-->
<!--      <h2><%#= @team.twitter %></h2>-->
<!--      <h2><%#= @team.telegram %></h2>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->


<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <br>
      <hr>
      <h1><%= @team.name %></h1>
      <br>
    </div>
  </div>
  <div class="row" style="background-color: #ddd;padding: 20px;">
    <div class="col-lg-6"  >
      <% if @team.logo_image %>
        <%= image_tag @team.logo_image, width: "100%" %>
      <% end %>
    </div>
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
          <h2><%= @team.name %></h2>
          <% if @team.website %><h3><%= link_to 'Website', @team.website %></h3><% end %>
          <% if @team.twitter %><h3><%= link_to 'Twitter', @team.twitter %></h3><% end %>
          <% if @team.telegram %><h3><%= link_to 'Telegram', @team.telegram %></h3><% end %>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
        <center>
          <h1>This Team Already Exists. Join or Create a New Team.</h1>
          <br><br>
          <div class="row">
            <div class="col-lg-6">
              <%= button_to 'Join Team', join_team_team_path(@team), :method => :get,  :class => "btn btn-primary btn-lg"%><br>
            </div>
            <div class="col-lg-6">
              <%= button_to 'New Team', new_team_teams_path, :method => :get,  :class => "btn btn-secondary btn-lg"%>
            </div>
          </div>
        </center>
        </div>
      </div>

    </div>
  </div>
</div>
