
<%# @team.name %>

<%# if @team.logo.attached? %>
  <%#= image_tag @team.logo %>
<%# end %>



<!--<div class="container">-->
<!--  <div class="row">-->
<!--    <div class="col-lg-12">-->
<!--      <br>-->
<!--      <hr>-->
<!--      <h1><%#= @team.name %></h1>-->
<!--      <br>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="row">-->
<!--    <div class="col-lg-6">-->
      <%# if @team.logo.attached? %>
        <%#= image_tag @team.logo %>
      <%# end %>
<!--    </div>-->
<!--    <div class="col-lg-6">-->
<!--      <h3><%#= @team.fund %></h3>-->
<!--      <h3><%#= @team.website %></h3>-->
<!--      <h3><%#= @team.partner %></h3>-->
<!--      <h3><%#= @team.linkedin %></h3>-->
<!--      <h3><%#= @team.twitter %></h3>-->
<!--      <h3><%#= @team.telegram %></h3>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->


<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <br>
      <hr>
      <h1><%= @team.name %></h1>
      <br>
    </div>
  </div>
  <div class="row" style="background-color: #ddd;padding: 20px;">
    <div class="col-lg-6"  >
      <% if @team.logo_image %>
        <%= image_tag @team.logo_image, width: "100%" %>
      <% end %>
    </div>
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
          <h3><%= @team.name %></h3>
          <% if @team.website %><h4><%= link_to 'Website', @team.website.to_http, :target => "_blank" %></h4><% end %>
          <% if @team.twitter %><h4><%= link_to 'Twitter', @team.twitter.to_http, :target => "_blank" %></h4><% end %>
          <% if @team.telegram %><h4><%= link_to 'Telegram', @team.telegram.to_http, :target => "_blank" %></h4><% end %>
        </div>
      </div>
      <% unless user_signed_in? %>
        <center><br><br><br>
          <%= button_to 'Join the UniFI DAO', new_user_registration_path, :method => :get,  :class => "btn btn-primary btn-lg"%><br>
          <%= button_to 'Sign In', new_email_link_path, :method => :get,  :class => "btn btn-secondary btn-lg"%>
        </center>
      <% end %>
    </div>
  </div>
</div>
