<% if @users.first.user_type == 'team'
     skip = false
     user_width = 40
   else
     skip = true
     user_width = 80
   end
%>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <table class="table">
        <thead>
        <tr>
          <th scope="col" width="<%= user_width %>%">User</th>
          <% unless skip %>
            <th scope="col" width="40%">Team</th>
          <% end %>
          <th scope="col">&nbsp;</th>
          <th scope="col">&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= link_to user.email, user %></td>
            <% unless skip %>
              <td><% if user.team %><%= link_to user.team.name, user.team %><% end %></td>
            <% end %>
            <td><%= link_to 'Edit', edit_user_path(user) %></td>
            <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
