<%= form_with(model: user, local: true) do |f| %>
  <% if user.user_type == "investor" %>
    <h2>Investor</h2>
    <%= f.hidden_field :user_type, value: "investor" %>

    <div class="field">
      <%= f.label "Fund Name" %><br />
      <%= f.text_field :name%>
    </div>

    <div class="field">
      <%= f.label "Website" %><br />
      <%= f.text_field :website%>
    </div>

    <div class="field">
      <%= f.label "Partner Name" %><br />
      <%= f.text_field :partner%>
    </div>

    <div class="field">
      <%= f.label "Linked In" %><br />
      <%= f.text_field :linkedin%>
    </div>

    <div class="field">
      <%= f.label "Twitter" %><br />
      <%= f.text_field :twitter%>
    </div>
  <% else %>
    <h2>Team</h2>
    <%= f.hidden_field :user_type, value: "team" %>

    <div class="field">
      <%= f.label "Project Name" %><br />
      <%= f.text_field :name%>
    </div>

    <div class="field">
      <%= f.label "Website" %><br />
      <%= f.text_field :website%>
    </div>

    <div class="field">
      <%= f.label "Twitter" %><br />
      <%= f.text_field :twitter%>
    </div>

    <div class="field">
      <%= f.label "Telegram" %><br />
      <%= f.text_field :telegram%>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
