<%= form_with(model: user, local: true) do |f| %>
  <%= f.hidden_field :user_type, value: "team" %>

  <div class="field">
    <%= f.text_field :name, class: "form-control", style: "width:300px;", placeholder: "Project Name"%>
  </div>

  <div class="field">
    <%= f.text_field :website, class: "form-control", style: "width:300px;", placeholder: "Website"%>
  </div>

  <div class="field">
    <%= f.text_field :twitter, class: "form-control", style: "width:300px;", placeholder: "Twitter"%>
  </div>

  <div class="field">
    <%= f.text_field :telegram, class: "form-control", style: "width:300px;", placeholder: "Telegram" %>
  </div>

  <div class="field">
    <%= f.text_field :discord, class: "form-control", style: "width:300px;", placeholder: "Discord" %>
  </div>

  <div class="field">
    <%= f.text_field :github, class: "form-control", style: "width:300px;", placeholder: "Github" %>
  </div>

  <div class="field">
    <%= f.text_field :uniswap_pool, class: "form-control", style: "width:300px;", placeholder: "Uniswap Pool" %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description,  class: "form-control", style: "width:300px;", rows: "3" ,onkeyup: "countChars('data','charcount');", onkeydown: "countChars('data','charcount');", onmouseout:"countChars('data','charcount');", id: 'data' %>
    <span id="charcount">1000</span> characters left.
  </div>


  <div class="field">
    <%= f.label "Logo" %>&nbsp;<%= f.file_field :logo, class: "form-control-file"  %>
  </div>

  <div class="actions">
    <%= f.submit "Complete Registration", class: 'btn btn-primary btn-lg' %>
  </div>

<% end %>


<script type="text/javascript">
    function countChars(countfrom,displayto) {
        var len = document.getElementById(countfrom).value.length;
        document.getElementById(displayto).innerHTML = 1000 - len;
    }

    window.addEventListener("load", function(){
        countChars('data','charcount');
    });

    countChars('data','charcount');
</script>

