
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <%= form_with(model: event, local: true) do |form| %>
        <% if event.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

            <ul>
              <% event.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="field">
          <%= form.label "Event Title" %>
          <%= form.text_field :title, class: "form-control", style: "width:300px;", placeholder: "" %>
        </div>

        <div class="field">
          <%= form.label :starts_at %>
          <%= form.datetime_select :starts_at %>
        </div>

        <div class="field">
          <%= form.label :duration %>
          <%= form.number_field :duration, class: "form-control", style: "width:300px;", placeholder: "" %>
        </div>

        <div class="field">
          <%= form.label :description %>
          <%= form.text_area :description, class: "form-control", style: "width:300px;", rows: "3" %>
        </div>

        <div class="field">
          <%= form.label 'Zoom Link' %>
          <%= form.text_field :link, class: "form-control", style: "width:300px;" %>
        </div>

        <div class="field">
          <%= form.label "Logo" %><br />
          <%= form.file_field :logo, class: "form-control-file"  %>
        </div>

        <div class="actions">
          <%= form.submit "Publish Event", class: 'btn btn-primary btn-lg' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
