<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <br>
      <h1>Upcoming Events</h1>
      <% if current_user&.admin? %>
        <h1><%= link_to 'New Event', new_event_path %></h1>
      <% end %>
      <br>
    </div>
  </div>
  <% @events.each do |event| %>
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <h1><%= link_to event.title, event %><span style="float:right"><%= event.starts_at.strftime("%A, %B %e") %></span></h1>
          </div>
          <ul class="list-group">
            <li class="list-group-item"><h3><%= markdown(event.description) %></h3></li>
          </ul>
        </div>
      </div>
    </div>
    <br>
  <% end %>
</div>


<br><br>
<% team_found = 0 %>
<div class="container">
  <div class="row">
    <% Team.find(Team.all.select(:id).collect {|x| x.id }.shuffle).each do |team|%>
      <% if team.logo_image %>
        <% team_found +=1  %>
        <div class="col-2">
          <h3 class="disable"><%= link_to team.name, team_path(team) %></h3>
          <%= link_to(image_tag(team.logo_image, width: "100%"), team_path(team), style: 'text-decoration: none;border: 0;', class: 'imglink') %>
        </div>
        <% break if team_found == 6 %>
      <% end %>
    <% end %>
  </div>
</div>
<br><br><br>
