<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <br>
      <h1>Upcoming Events</h1>
      <% if current_user&.admin? %>
        <h1><%= link_to 'New Event', new_event_path %></h1>
      <% end %>
      <br>
    </div>
  </div>
  <% @events.each do |event| %>
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <h1><%= link_to event.title, event %><span style="float:right"><%= event.starts_at.strftime("%A, %B %e") %></span></h1>
          </div>
          <ul class="list-group">
            <li class="list-group-item"><h3><%= markdown(event.description) %></h3></li>
          </ul>
        </div>
      </div>
    </div>
    <br>
  <% end %>
</div>


<br><br>
<div class="container">
  <div class="row">
    <% Team.find(Team.joins(:logo_attachment).where.not(name: nil).pluck(:id).sample(6)).each do |team|%>
      <div class="col-2">
        <h3 class="disable"><%= link_to team.name, team_path(team) %></h3>

        <% if team.logo.attached? %>
          <%= link_to(image_tag(team.logo, width: "100%"), team_path(team), style: 'text-decoration: none;border: 0;', class: 'imglink') %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<br><br><br>
