<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <br>
      <hr>
      <%= @event.starts_at.strftime("%A, %B %e") %>
      <h1><%= @event.title %></h1>
      <br>
    </div>
  </div>
  <div class="row" style="background-color: #ddd;padding: 20px;">

    <div class="col-lg-6"  >
      <% unless @event.you_tube.blank? %>
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube-nocookie.com/embed/<%= @event.you_tube.to_you_tube_id %>" allowfullscreen></iframe>
        </div>
      <% else %>
        <% if @event.logo.attached? %>
          <%= image_tag @event.logo, width: "100%" %>
        <% end %>
      <% end %>
    </div>
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
          <%= @event.starts_at.strftime("%A, %B %e") %><br>
          <%= @event.starts_at.strftime("%l:%M %p") %> PST to <%= (@event.starts_at + @event.duration.hours).strftime("%l:%M %p") %> PST <br>
          <%#= link_to "Add to Calender", ical_event_url(@event, protocol: :webcal, format: :ics) , format: :ics %>
        </div>
      </div>
      <br>
      <div class="card">
        <div class="card-body">
          <h2><%= markdown(@event.description) %></h2>
        </div>
      </div>
      <% unless user_signed_in? %>
        <center><br><br><br>
          <%= button_to 'Join the UniFI DAO', new_user_registration_path, :method => :get,  :class => "btn btn-primary btn-lg"%><br>
          <%= button_to 'Sign In', new_email_link_path, :method => :get,  :class => "btn btn-secondary btn-lg"%>
        </center>
      <% end %>
    </div>
  </div>
</div>

<br><br>
<% team_found = 0 %>
<div class="container">
  <div class="row">
    <% Team.find(Team.all.select(:id).collect {|x| x.id }.shuffle).each do |team|%>
      <% if team.logo_image %>
        <% team_found +=1  %>
        <div class="col-2">
          <h3 class="disable"><%= link_to team.name, team_path(team) %></h3>
          <%= link_to(image_tag(team.logo_image, width: "100%"), team_path(team), style: 'text-decoration: none;border: 0;', class: 'imglink') %>
        </div>
        <% break if team_found == 6 %>
      <% end %>
    <% end %>
  </div>
</div>
<br><br><br>
