<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span>
    </button>
    <%#= image_tag 'logo.jpg', height: "20px"%>
    <%= link_to "UniFi DAO", root_path, class: 'navbar-brand' %>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav mr-auto">
        <% if user_signed_in? %>
          <li class='nav-item'><%= link_to (current_user&.name || "Profile"), user_path(current_user), class: 'nav-link'  %></li>
          <li class='nav-item'><%= link_to "Events", events_path, class: 'nav-link'  %></li>
          <li class='nav-item'><%= link_to "Teams", teams_path, class: 'nav-link'  %></li>
          <li class='nav-item'><%= link_to "Community", "https://t.me/unificosmos", class: 'nav-link', target: :_blank  %></li>
          <% if current_user.admin? %>
            <li class='nav-item'><%= link_to "Admin Events", events_admins_path, class: 'nav-link'  %></li>
            <li class='nav-item'><%= link_to "Admin Team Users", users_admins_path, class: 'nav-link'  %></li>
            <li class='nav-item'><%= link_to "Admin Investors", users_admins_path(type: 'investor'), class: 'nav-link'  %></li>
            <li class='nav-item'><%= link_to "Admin Teams", teams_admins_path, class: 'nav-link'  %></li>
          <% end %>
          <li class='nav-item'><%= link_to "Sign out", '/sign_out',  class: 'nav-link'  %></li>
        <% else %>
          <li class='nav-item'><%= link_to "Events", events_path, class: 'nav-link'  %></li>
          <li class='nav-item'><%= link_to "Teams", teams_path, class: 'nav-link'  %></li>
          <li class='nav-item'><%= link_to "Sign In", new_email_link_path, class: 'nav-link'  %></li>
          <li class='nav-item'><%= link_to "Community", "https://t.me/unificosmos", class: 'nav-link', target: :_blank  %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
