<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The UniFI DAO Network of the Cosmos Community</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "rails-ujs" %>
    <%= javascript_include_tag "turbolinks" %>

    <style type="text/css">
        .mobileHide { display: inline;}
        /* Smartphone Portrait and Landscape */
        @media only screen
        and (min-device-width : 320px)
        and (max-device-width : 480px){  .mobileHide { display: none;}}

        @media screen and (max-width:500px){
            .disable{
                display: none !important;
                visibility: hidden !important; //optional
            }
        }
    </style>
  </head>

  <body>

    <% flash.each do |key, value| %>
        <div class="<%= flash_class(key) %>" role="alert">
          <%= value.sub('User', 'Team') %>
        </div>
    <% end %>



    <header>
      <%= render 'layouts/navigation' %>
    </header>

    <main role="main">
      <%# unless flash.empty? %>
<!--        <div class="container">-->
<!--          <div class="row">-->
<!--            <div class="col-lg-12">-->
              <%# flash.each do |key, value| %>
<!--                <div class="<%#= flash_class(key) %>" role="alert">-->
                  <%#= value %>
<!--                </div>-->
              <%# end %>
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
      <%# end %>

      <%= yield %>
    </main>
  </body>
</html>
