<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <%= f.radio_button :user_type, 'team' %> Register as Cosmos Start Up Team<br />
  <%= f.radio_button :user_type, 'investor' %> Register as Investor<br />

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% random_string = SecureRandom.hex %>
  <%= f.hidden_field :password, value: random_string %>
  <%= f.hidden_field :password_confirmation, value: random_string %>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>
